


<div id="main">
    <form (ngSubmit)="login()">
        <input name="accno" type="text" class="first" id="accu" [(ngModel)]="accno"  [placeholder]="acno"><br>
        <input name="passo" type="password" class="first" id="pass" [(ngModel)]="pass"  placeholder="password"><br>
        <button type="submit" id="butt"  >login in</button><br><hr><br>
        <a id="last">Dont have account?</a>
        <a style="text-decoration: none; color:rgb(0, 0, 0); margin-left:10px;" routerLink="register">Register</a>
    </form>
</div>