

#main{
    background: rgba(150, 150, 150, 0.5);
    width: 720px;
    height: 450px;
    border-radius: 40px;
    margin-left: 400px;
    margin-top: 100px;
    box-shadow: 0px 0px 20px 10px rgb(53 53 62 / 11%), 0px 0px 20px 10px rgb(53 53 62 / 31%);
    
}
.first{
    margin-left: 60px;
    width: 588px;
    height: 50px;
    margin-top: 60px;
    border: 0px;
    border-radius: 11px;
    box-shadow: 0px 0px 20px 10px rgb(247 247 247 / 0%), 0px 0px 13px 5px rgb(38 38 40 / 26%);
}



#butt{
    margin-left: 258px;
    margin-top: 23px;
    width: 167px;
    height: 43px;
    background-color: rgb(71, 71, 123);
    border-radius: 14px;
    border: 0px;
    color: white;
    box-shadow: 0px 0px 20px 10px rgb(247 247 247 / 0%), 0px 0px 13px 5px rgb(38 38 40 / 26%);
    transition: 1s;
}
#butt:hover{
    background-color: rgb(81, 81, 203);
}

#last{
    margin-left: 253px;
    color: white;
}

#link{
    margin-top: 10px;

}