<div id="main1">
    <h1 style="margin-left: 220px; margin-top: 20px;">create an account</h1>
    <form action="">
        <input type="text" class="first1" id="user1" name="hello1" [(ngModel)]="uname" placeholder="Username"><br>
        <input type="text" class="first1" id="user2" name="hello2" [(ngModel)]="acnumber" placeholder="Mobile number"><br>
        <input type="password" class="first1" id="user3" name="hello3" [(ngModel)]="pas" placeholder="Password"><br>
        <button type="button" id="butt1" (click)="register()">register</button><br>
        
    </form>
</div>
